<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="CBApp.Base" />
			
			<class name="CBApp.Login_page" />
			<!-- <class name="CBApp.ForgetPassword"> <methods> <exclude name="forgetPass"/> 
				<exclude name="sendCard"/> </methods> </class> -->

			<class name="CBApp.MyCardPage">
				<methods>
					<exclude name="edit"></exclude>
				</methods>
			</class>
			
			<class name="CBApp.FavouritePage"></class>
			<class name="CBApp.Company"></class>
			<class name="CBApp.Industry"></class>
			<class name="CBApp.profession">
				<methods>
					<exclude name="cardSend"></exclude>
				</methods>
			</class>
			
			<class name="CBApp.tag"></class>
			<class name="CBApp.search"></class>
			<class name="CBApp.Search2"></class>
			<class name="CBApp.Notification"></class>
			<class name="CBApp.Setting"></class>
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
